<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
	<connectionStrings>
		<!--ローカルDB-->
		<!--<add name="FixedTimesDbContext" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=DBControlLibrary.Models.FixedTimesDbContext;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
		<!--DBサーバー(Docker SQL Server)-->
		<add name="FixedTimesDbContext" connectionString="Server=localhost,1433; initial catalog=TestDB;persist security info=True;user id=sa;password=saPassword1234;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>

</configuration>
